/**
 * eatsight-api
 * This is a API document for EatSight
 *
 * OpenAPI spec version: 0.0.1
 * Contact: master@bluehack.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;
import com.belladati.httpclientandroidlib.HttpEntity;
import com.belladati.httpclientandroidlib.entity.mime.MultipartEntityBuilder;

import io.swagger.client.model.GetFoodsResponse;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class FoodApi {
  String basePath = "https://apis.eatsight.com";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * 
  * 
   * @param offset 
   * @param limit 
   * @param foodType 
   * @param searchField 
   * @param searchValue 
   * @return GetFoodsResponse
  */
  public GetFoodsResponse getFoods (Integer offset, Integer limit, String foodType, String searchField, String searchValue) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'offset' is set
    if (offset == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offset' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'offset' when calling getFoods"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'limit' when calling getFoods"));
    }
    // verify the required parameter 'foodType' is set
    if (foodType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'foodType' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'foodType' when calling getFoods"));
    }
    // verify the required parameter 'searchField' is set
    if (searchField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchField' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'searchField' when calling getFoods"));
    }
    // verify the required parameter 'searchValue' is set
    if (searchValue == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchValue' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'searchValue' when calling getFoods"));
    }

    // create path and map variables
    String path = "/foodinfo/1.0/foods";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offset", offset));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "foodType", foodType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchField", searchField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchValue", searchValue));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "apiKey", "apiToken" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GetFoodsResponse) ApiInvoker.deserialize(localVarResponse, "", GetFoodsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * 
   * 
   * @param offset    * @param limit    * @param foodType    * @param searchField    * @param searchValue 
  */
  public void getFoods (Integer offset, Integer limit, String foodType, String searchField, String searchValue, final Response.Listener<GetFoodsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'offset' is set
    if (offset == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offset' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'offset' when calling getFoods"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'limit' when calling getFoods"));
    }
    // verify the required parameter 'foodType' is set
    if (foodType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'foodType' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'foodType' when calling getFoods"));
    }
    // verify the required parameter 'searchField' is set
    if (searchField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchField' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'searchField' when calling getFoods"));
    }
    // verify the required parameter 'searchValue' is set
    if (searchValue == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchValue' when calling getFoods",
        new ApiException(400, "Missing the required parameter 'searchValue' when calling getFoods"));
    }

    // create path and map variables
    String path = "/foodinfo/1.0/foods".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "offset", offset));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "foodType", foodType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchField", searchField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchValue", searchValue));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "apiKey", "apiToken" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GetFoodsResponse) ApiInvoker.deserialize(localVarResponse,  "", GetFoodsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
